.custom-menu-item {
  padding: 6px 10px;

  &.is-active {
    box-shadow: inset 2px 0px 0px 0px red;
    .menu-item-link {
      color: red;
    }
  }

  .menu-item-link {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: #000;
  }
}
